.App {
  text-align: center;
  display: flex;
  width: 900px;
  height: 100vh;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left:10%;
  
}
.BlockOne, .BlockTwo, .BlockThree, .BlockFour {
  margin: 0 10px; 
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
