.App {
  text-align: center;
  display: flex;
  width: 900px;
  height: 100vh;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left:10%;
  
}
.BlockOne, .BlockTwo, .BlockThree, .BlockFour {
  margin: 0 10px; 
}





